node_modules/
.next/
out/
dist/
build/
*.log
.DS_Store
.env
.env.local
.env*.local
*.user
bin/
obj/
.vs/
ArgentSetup-PC/
ArgentSetup-PC.zip
desktop/web/
desktop/node_modules/
ArgentSetup-Exe/
ArgentSetup-Exe.zip
web/
*.docx
